.container-fluid {
	padding-right: 0px !important;
	padding-left: 0px !important;
	background-color: #9D2429;
}

.logoArea {
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.logoPicture {
	margin-left: 684px;
	text-align: center;
}

header {
	margin: 0 auto;
	background-color: #9D2429;
}

footer {
	background-color: #CCCCCC;
}